<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Product List</title>
</head>
<body>
  <h1>Product List</h1>
  <% if (messages.success && messages.success.length) { %>
    <div class="alert alert-success">
      <% messages.success.forEach(message => { %>
        <p><%= message %></p>
      <% }); %>
    </div>
  <% } %>
  <ul>
    <% products.forEach(product => { %>
      <li><%= product.name %> - <%= product.price %> <a href="/products/edit/<%= product._id %>">Edit</a> <a href="/products/delete/<%= product._id %>">Delete</a></li>
    <% }); %>
  </ul>
  <a href="/products/create">Create New Product</a>
</body>
</html>
